<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>loxbox</name>
	<displayName><![CDATA[loxbox]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Loxbox is the first tunisian product to offer Powerful Relay Solution.]]></description>
	<author><![CDATA[LoxboxDev]]></author>
	<tab><![CDATA[]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>